.dashboard-container{
    flex: 6;
}

.dashboard{
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: 80px 0 0 54px;
    gap: 20px;

}

.widgets{
    display: flex;
    padding: 5px 20px;
    gap: 20px;
}

.charts{
    display: flex;
    padding: 5px 20px;
    gap: 20px;
}

.colorNesa{
    color: #055E67;
}

.latestInfo{
    display: flex;
    justify-content: space-between;
    flex: 1;
    padding: 10px;
    -webkit-box-shadow: 2px 4px 10px 1px rgba(0, 0, 0, 0.47);
    box-shadow: 2px 4px 10px 1px rgba(201, 201, 201, 0.47);
    border-radius: 10px;
    height: 100px;
}

.charts2{
    flex: 2;
    -webkit-box-shadow: 2px 4px 10px 1px rgba(0, 0, 0, 0.47);
    box-shadow: 2px 4px 10px 1px rgba(201, 201, 201, 0.47);
    padding: 10px;
}

.charts3{
    display: flex;
    flex-direction: line;
    justify-content: center;
    justify-content: space-around;
}

.charts3Bar{
    flex-direction: column;
}

.top-bar{
    display: flex;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 5px;
}

.top-bar-items{
    -webkit-box-shadow: 2px 4px 10px 1px rgba(0, 0, 0, 0.47);
    box-shadow: 2px 4px 10px 1px rgba(201, 201, 201, 0.47);
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding-top: 20px;
    padding-bottom: 20px;
}

.upload-button{
    flex-direction: row;
    align-items: center;
    display: flex;
    padding-right: 10px;
}

.buttons{
    display: flex;
    gap: 20px;
    justify-content: flex-end;
    padding-right: 2%;
    padding-top: 2px;
    padding-bottom: 2px;
}

.drop-downs{
    display: flex;
    padding-left: 10px;
    padding-top: 2px;
    gap: 30px;
}

.map-in-dashboard{
    display: flex;
    padding: 5px 20px;
}

.leftt {
    display: flex;
    gap: 5px;
    flex-direction: column;

}

.centralLeft{
    font-size: 28px;
    font-weight: 300;
    color: #055E67;
}

.centralLeft p{
    font-size: 20px;
    font-weight: 300;
    margin: 0;
}

.boldAA{
    font-weight: bold;
}


@media only screen and (max-width: 900px){
    .dashboard{
        flex-direction: column;
    }
    .widgets{
        flex-direction: column;
    }
    .charts{
        flex-direction: column;
    }
    .top-bar{
        flex-direction: column;
    }
    .buttons{
        flex-direction: column;
    }
    .drop-downs{
        flex-direction: column;
    }
}
