.btnn{
    background-color: #078E9C;
    color: white;
    height: 5vh;
    width: 5em;
    border: none;
    border-radius: 5px;
}
.btnn:hover{
    background-color: white;
    color: #078E9C;
    border-radius: 5px;
}

.svg{
    color: black;
}

.nvEstrutura-container{
    margin: 80px 0 0 54px;
}