@import url('https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css');

.edit{
margin-top: 15%;
text-align: center;
}

.edit-text{
    width: 50px;
    height: 50px;
    position: relative;
    left: 80vh;
    margin-bottom: -90px;
    font-weight: bold
}

.fundo{
    /* text-align: center;
    background-color: #078E9C; */
    background-color:#078E9C;
    padding-bottom:20px;
    margin-top:10px;
    border-radius:5px;
    text-align: center;

}

.btn-container{
    background:#fff;
    border-radius:5px;
    padding-bottom:20px;
    margin: 50px;
    }

.dentro{
margin-top: 14px;
}

#top{
    margin-top:20px;  
    }

.salv{
    margin-top: 20%;
    margin-left: 38%;
}

.spinner{
    margin-top: 20%;
    margin-right: 10%;
}

@media only screen and (max-width: 950px){
    .fundo{
        margin-bottom: 28px;
        
    }
}

@media only screen and (max-width: 600px){
    .dentro{
        flex-direction: column;
        width: 78%;
    }

    .salv{
        width: 70%;
        margin-left: 30px ;
        margin-bottom: 10px;
    }

}

