.NavBar {
    position: fixed;
    top: 0;
    left: 0;
    background: #078E9C;
    width: 100%;
    height: 4.375rem;
    z-index: 100;
    display: grid;
    grid-template-columns: 1fr 1fr;
}


.iconn{
    color: #ffffff;
    height: 1.1rem;
    width: 1.1rem;
}

.logoNorte{
  width: 36.3125rem;
  height: 4.375rem;
  /* background: #ffffff; */
  display: flex;
  justify-content: center;
  align-content: center;
  top: 0px;
}

  .bloco2-sidebar {
    display: flex;
    height: 70px;
    justify-content: flex-end;
    align-items: center;
    gap: 2rem;
  }
  
/* Ajustes gerais para a navbar em dispositivos móveis */
@media (max-width: 768px) {
  .NavBar {
    height: 3.125rem; /* Reduz a altura da navbar */
    grid-template-columns: 1fr 4rem; /* Ajusta as colunas para um layout mais simples */
  }

  .logoNorte {
    width: auto; /* Ajusta a largura do logo para auto */
    justify-content: start; /* Espaço entre os logos e o botão de menu */
  }

  .logoNorteImg {
    height: 3rem; /* Ajusta o tamanho dos logos */
    width: auto; /* Mantém a proporção dos logos */
  }

  .bloco2-sidebar {
    height: 3.125rem;
  }

  /* Estilos para o botão de menu (hamburger menu) */
  .menu-btn {
    display: flex; /* Mostra o botão de menu */
    justify-content: center;
    align-items: center;
    font-size: 1.5rem; /* Aumenta o tamanho do ícone do menu */
    cursor: pointer;
  }
}

