.togetherBox {
  display: flex;
  flex-direction: row;
  padding-top: 15px;
  justify-content: center;
}

.rightMax {
  position: relative;
}

.buttonDesabli{
  pointer-events: none;
  opacity: 0.5;
}

.iIconStyle {
  width: 20px;
  height: 20px;
  margin-left: 5px;
}

.graphsMax {
  display: flex;
  gap: 20px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.newModelMax {
  padding: 1rem 1rem;
  /* display: grid; */
  background: #F5F5F5;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  border-radius: 0;
}

.attention-color {
  background-color: rgba(255, 255, 5, 0.087);
}

.alert-color {
  background-color: rgba(255, 0, 0, 0.087);
}

.newModewilMax{
  padding: 0;
}

.inputFormatMax {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 100%;
  border: none;
  text-align: end;
}

.sensor-container {
  display: flex;
  overflow-x: auto;
  gap: 10px;
  padding-left: 10px;
  white-space: nowrap;
  scrollbar-color: #078E9C transparent; /* Adiciona cor ao scrollbar no Firefox */
}

.sensor-container > div {
  display: inline-block;
}

.right{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.upperRight {
  display: flex;
  align-items: center;
  font-size: 14px;
}
